/* --- GLOBAL & RESET --- */
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  --neon-blue: #00d2ff; /* Variable warna agar mudah diganti */
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  overflow-x: hidden;
}

/* Sembunyikan Scrollbar */
::-webkit-scrollbar {
  display: none;
}
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

/* ANIMASI UMUM (Dipakai di banyak tempat) */
.animate-hidden {
  opacity: 0;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}
.slide-up {
  transform: translateY(50px);
}
.slide-left {
  transform: translateX(-50px);
}
.slide-right {
  transform: translateX(50px);
}
.animate-active {
  opacity: 1;
  transform: translate(0, 0);
}
@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
