:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light; /* Ubah ke Light */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f2f5; /* Abu-abu muda */
  color: #1a1a1a;
}
